@tailwind base;
@tailwind components;
@tailwind utilities;



/* Media queries for responsive design */
@media (max-width: 768px) {
    .grid-cols-responsive {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .button-primary {
        width: 100%;
    }
    .table-auto {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}